*
{
    margin:0;
    
}

body{
    font-size: large;
    min-width: 250px;
    min-height: 500px;
   
}

.container
{
    display: flex;
}
.middle
{
    width:1000px;
    margin:10px;
}
div:nth-child(odd) {
    background-color: #f8f8f8;
  }
  div:nth-child(even) {
    background-color: #ffffff;
  }
  .head
{
   
    padding:25px;
    margin:10px;
}
.content
{
    width:300px;
    height: 1250px;
    text-align: center;
    margin:10px;
}
.cardboard
{
    padding:30px;
    background-color:#f8f8f8;
    box-shadow:5px 5px 5px rgb(0, 0,0,.1);
    margin:10px;
}
.boxes  
{
   padding:30px; 
   box-shadow:5px 5px 5px rgb(0, 0,0,.1);
   margin:0 20px 20px 20px;
}

a{
    text-decoration: none;
    color:black;
    
}
ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: green;
    padding: 5px 20px;
   
    transition: 0.6s ease
}

.main{
    margin: auto;
}
a:hover
{
    color:grey;
}
.container1{

    width:900px;
    margin:0 auto;
    padding:10px;
}